doctype html
html(lang="en", style="height: 100%; width: 100%;")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Certificate
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Avenir:wght@400;700&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap")
    script.
      document.addEventListener('DOMContentLoaded', (event) => {
        const nameDiv = document.getElementById('nameDiv');
        const cName = nameDiv.innerHTML.trim();
        nameDiv.style.fontSize = `${Math.min(Math.floor(640 / cName.length), 44)}px`;
      });
  body(style="margin: 0; padding: 0; margin-bottom: 0.8cm; font-family: Avenir, sans-serif; height: 100%; width: 100%;")
    div(style="width: 100%; height: 100%;")
      img(alt="bg-img", src=backgroundImg, style="position: absolute; z-index: -1; inset: 0; height: 100%; width: 100%;")

      div(style="display: flex; height: 100%; position: relative;")
        img(alt="ribbon", src=logoBinary, style="margin-left: 1.25rem; position: absolute; top: 0; height: 90%;")
        div(style="text-align: center; flex: 1; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; color: white; padding-left: calc(8.1rem + 1.5rem); padding-right: 2%; padding-top: 20%;")
          span(style="background-image: linear-gradient(to right, #CAF600, #90D326); background-clip: text; -webkit-background-clip: text; font-size: 42px; font-family: Tinos, sans-serif; color: transparent;")
            | CERTIFICATE
          div(style="font-size: 1rem; margin-top: .25rem;") #{tournamentName}
          div(style="margin-top: 3rem; font-weight: bold; line-height: 1.75; max-width: 350px; font-family: Charm, sans-serif; font-size: 1rem;")
            | Awarded for participation in Maidaan’s #{tournamentName} organised online on the #{dateString} to
          div#nameDiv(style=`color: #ccf900; margin-top: 1.25rem; max-width: 500px; max-height: 60px; font-family: Charm, sans-serif; font-size: inherit;`)
            | #{childName}
          div(style="font-size: 0.875rem; margin-top: 1.25rem; text-align: left; max-width: 350px; font-family: Charm, sans-serif;")
            div(style="display: flex; gap: 0.5rem;")
              | from
              div(style="border-bottom: 1px solid white; color: #ccf900; flex: 1; text-align: center;")
                | #{school}, #{city}
            div(style="line-height: 1.75; margin-top: 0.75rem;")
              | for displaying exemplary rigour, discipline & excellence and securing 
              span(style="color: #ccf900;")
                | Rank #{rank}
              |  amongst all contestants.
        div(style="position: absolute; bottom: 4%; right: 4%; height: 102px; width: 145px; color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; font-family: Charm, sans-serif;")
          img(alt="signature", src=signatureImg, style="height:42px; width:107px")
          div(style="font-size: 1.25rem; margin-top: 0.5rem; margin-bottom: 0.25rem;") Judhajit Bal
          div(style="font-size: 1rem;") Co-Founder, Maidaan